@model LocalizationApp.Models.LocalizationModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<h4>LocalizationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post" action="/localization/add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CultureInfo" class="control-label">Culture Info</label>
                <input asp-for="CultureInfo" name="CultureInfo" class="form-control" />
                <span asp-validation-for="CultureInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Key</label>
                <input asp-for="Name" name="Name" class="form-control" />
                <span asp-validation-for="Name"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Value</label>
                <input asp-for="Value" name="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

