@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h6>@ViewData["culturedata"]</h6>

</body>
</html>
